@charset "UTF-8";

@-ms-viewport {width: device-width;}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    fontfamily: 'メイリオ','Hiragino Kaku Gothic Pro', sans-serif;
}

aside {
  position: fixed;
  z-index: 2;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: -280px;
  /*left: 0;*/
  width: 300px;
  height: 100%;
  /*background-color: rgba(132, 132, 132, 0.8);*/
  background-color: rgba( 0, 0, 0, 0.7);
}
aside img{
  margin: 5px 60px 0px 60px;

  width: 180px;
}

.icon {
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  background: url(./img/sys16_Q1_Logo.png) 0 0;
}

.study {background-position: -80px 0px;}
.maru  {background-position: -80px -80px;}
.oya   {background-position: -80px -160px;}
.sugi  {background-position: -80px -240px;}
.naru  {background-position: -80px -320px;}
.stair {background-position: -80px -400px;}

aside h2 {
  margin: 20px 0 0 20px;
  padding: 0;
}
aside h2 a {
  color: white;
  text-decoration: none;
}

aside ul,
aside ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
aside li {
  list-style: none;
  margin: 0;
  border-top: 1px solidrgba(0,0,0,0.14);
}
aside li:last-child {
  style="border-top: 1px solidrgba(0,0,0,0.14);
}
aside li a{
  position: relative;
  display: block;
  text-decoration: none;
  width: 300px;
}

aside li a i,
aside a i {
  margin: 5px 10px 5px 0;
  padding: 0;
  float: left;
  border: none;
  background-color: white;
  width: 80px;
}

aside li a h3 {
  margin: 0 0 0 0;
  padding: 18px 0 0 0;
  display: block;
  color: white;
  font-size: 30px;
  line-height: 1.2;
}
aside li a p{
  margin: 0;
  padding: 0;
  color: white;
}

aside li a:after {
  content: "";
  display: block;
  clear: both;
}

aside a {
  text-decoration: none;
}
aside a h2{
  margin: 0 0 0 0;
  padding: 25px 0 0 0;
  display: block;
  color: white;
  font-size: 30px;
  line-height: 1.2;
}
aside .aside_link  {
  margin-top:10px;
  border-top: 1px solidrgba(0,0,0,0.14);
  border-bottom: 1px solidrgba(0,0,0,0.14);
  width:300px;
  height:90px;
  display:block;
}


.TopImg{
  position: absolute;
}

main h1 {
  margin: 0;
  padding: 0 10px 0 10px;
  letter-spacing: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  position: absolute;
  font-size: 80px;
  color: black;
  right: 20px;
  top: 20px;
}
main div {
  margin: 0;
  padding: 0 10px 0 10px;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 20px;
  bottom: 20px;
}

main div p {
  margin: 0;
  padding: 0;
  font-size: 50px;
}
